<div class="amazon-carousel">
  <SCRIPT charset="utf-8" type="text/javascript">
                if(typeof amzn_wdgt == 'undefined') var amzn_wdgt = {};
    amzn_wdgt.id = "V20070822/US/coin0fc-20/8010/5574d7af-4925-42fd-a5b7-f872256cf0ca";
    amzn_wdgt.width = $('#content').width();
    amzn_wdgt.height = "300";
                        amzn_wdgt.swfFile = "http://g-ecx.images-amazon.com/images/G/01/associates/widgets//20070822/US/Flash/Widgets._V626665239_.swf?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/coin0fc-20/8010/5574d7af-4925-42fd-a5b7-f872256cf0ca&rt=as_li_tf_cw&panda=1";
    document.write('<scr'+'ipt type="text/javascript" src="http://g-ecx.images-amazon.com/images/G/01/associates/widgets//20070822/US/Flash/flash._V626665239_.js"></sc'+'ript>');
  </SCRIPT>

  <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcoin0fc-20%2F8010%2F5574d7af-4925-42fd-a5b7-f872256cf0ca&Operation=NoScript">Bitcoin Products on Amazon.com</A></NOSCRIPT>
</div>
